.loginform {
  max-width: 400px;
  margin: 40px auto;
  background: #222;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.loginform input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}